body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
  }
  
  .danhsach-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 20px auto;
  }
  
  .danhsach-card {
    background: #cde9a8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 10px;
  }
  
  .danhsach-card:hover {
    transform: scale(1.05);
  }
  
  .danhsach-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .danhsach-name {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .thuvienanh {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
  }
  
  .thuvienanh img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #cde9a8;
  }